* {
     box-sizing: border-box;
}

header {
     width: 125px;
     height: 125px;
     filter: grayscale(100%);
}

.modal {
     background-color: lightblue;
     color: purple;
     border: darkblue 2px solid;
     display: flex;
}
.quizHeader {
     align-items: center;
     justify-content: center;
     width: auto;
     height: 200px;
     border-radius: 15px;
}

body {
     display: flex;
     color: white;
     background-image: url("background.jpg");
     width: 100%;
     background-repeat: no-repeat;
     background-size: cover;
     height: 500px;
     font-size: 20px;


}

.quizStart {
     align-items: center;
     justify-content: center;
     text-align: center;
     margin-top: 150px;
     height: 300px;
     width: 700px;
     margin-left: 30px;
     margin-right: 30px;
}

.quizProgressionTracker {
     align-content: space-around;
}

li {
     list-style-type: none;
     align-items: flex-start;
     display: inline-block;
}
/* #nextBttn {

     }

#startBttn {

} */

#nextBttn, .startBttn, .bttn {
     align-items: center;
     justify-content: center;
     width: 300px;
     height: 50px;
     margin-top: 30px;
     color: white;
     font-weight: bold;
     background-color: blue;
     font-size: 20px;
}

h1 {
     align-items: center;
     justify-content: center;
     font-family: verdana;
     font-size: 20px;
     color: white;
     
}
