* {
  box-sizing: border-box;
  color: rgba(41, 23, 23, 0.945);
  font-family: 'Libre Baskerville', serif;

} 

body {
  background-color: darkslategrey;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-attachment: fixed;
  background-image: url('logo2.png');
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {

}

main {
  display: grid;
  justify-items: center;
  align-content: center;
  grid: auto-flow/auto;
  gap: 20px 0;
  flex: 1;
}

h1 {
  padding-top: 20%;
    
}

h2 {
   padding-top: 15%;
   align-items: center;
   justify-content: center;
   font-size: 20px;
   max-width: 45ch; 
   text-align: center;
}

h3 {
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

li {
  list-style-type: none;
}

.modal {
     background-color: lightblue;
     color: purple;
     border: darkblue 2px solid;
     display: flex;
}


.quizHeader {
     width: auto;
     height: 200px;
     border-radius: 15px;
}

.quizProgressionTracker {
  align-content: space-around;
}

.startBttn, .bttn {
     align-items: center;
     justify-content: center;
     width: 300px;
     height: 50px;
     /* margin-top: 30px; */
     font-weight: bold;
     background-color: darkslategray;
     font-size: 20px;
}

.quizModalContainer:empty {
  display: none;
}
.quizModalContainer:not(:empty){
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000A6;
}

.quizModalContainerInner {
  display: grid;
  grid: auto 1fr/auto;
  gap: 30px 0;
  width: 70ch;
  height: 90%;
  overflow: auto;
  background-color: #000000A6
}

.question {
  display: none;
}

.visible {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 24px 8px;
  padding: 16px;
}

.question-copy {
  margin:0;
  padding: 0;
  grid-column: 1 / end;
}

.label {
  grid-column: 2 / end;
}

.nextBttn {
  grid-column: 1 / end;
  justify-self: flex-start;
  /* opacity: 0.5; */
  /* pointer-events: none; */
  opacity: 1 ;
  pointer-events: pointer;
  cursor: pointer;
}

/* .answerOption:checked ~ .nextBttn {
  pointer-events: initial;
  cursor: pointer;
  opacity: 1;
} */


